/********************/
/* css reset */

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/********************/
/* variables */
:root {
}

/********************/

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: fixed;
  width: 100dvw;
  padding: 0.5rem;
  background-color: #000;
  line-height: 2rem;
  color: #fff;
  border-bottom: 1px solid #000;
}

.toolbar__left nav ol li {
  display: inline-block;
  list-style-type: none;
}

.toolbar__center {
  display: flex;
}
