@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marker";
  src: url(/public/fonts/PermanentMarker-Regular.ttf);
}

.note {
  @apply min-h-28 min-w-36 max-w-min
  font-marker
  cursor-grab
  hover:shadow-md hover:shadow-black
  focus:-rotate-2;
}
