@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

@font-face {
  font-family: "Marker";
  src: url(/public/fonts/PermanentMarker-Regular.ttf);
}

.empty-note {
  @apply max-w-min
  min-h-14 min-w-16
  sm:min-h-28 sm:min-w-36;
}

.note {
  @apply max-w-min
  min-h-14 min-w-16
  sm:min-h-28 sm:min-w-36
  font-marker
  cursor-grab
  hover:shadow-md hover:shadow-black
  focus:ring-4 focus:ring-offset-4 focus:ring-red-500;
}

.note--selected {
  @apply border-2 border-black
  shadow-md shadow-black
  transition -rotate-3;
}

.note__content {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
  text-xs
  sm:text-base
  text-center;
}
